@model List<Category>

    
<div class="list-group">
    <a href="/products" style="color:white" class="list-group-item list-group-item-action bg-success"> Tüm Kategoriler 🛍 </a>
    @foreach(var category in @Model)
    {
        <a asp-action="list" asp-controller="shop" asp-route-category="@category.Url" class="list-group-item list-group-item-action"> @category.Name</a>
    }
</div>